{
  "openapi": "3.1.0",
  "info": {
    "title": "BotCompose API",
    "version": "1.0.0",
    "description": "\nBotCompose is a VoiceBot orchestration engine designed to integrate seamlessly with existing PBX, UC, and Contact Center platforms. It replaces rigid IVR flows with natural conversational AI while staying flexible, performant, and vendor-agnostic across STT, TTS, and LLM components.\n\n## Key Features\n\n### 🧠 Lower STT Costs With Smart VAD\nBotCompose uses Voice Activity Detection (VAD) to intelligently activate STT only when speech is detected, reducing cost and improving efficiency—particularly valuable for contact centers with high call volume.\n\n### 🗃️ Lower TTS Costs With Built-In Audio Caching (CDB)\nBotCompose includes a TTS Cache Database (CDB) to prevent unnecessary repeated synthesis:\n- Bot developers can list commonly used sentences to cache.\n- The LLM instructions should also be told to use cached sentences as much as possible.\n- The cached audio is returned instantly.\n\nThis reduces TTS costs, speeds up responses, and improves perceived voicebot responsiveness.\n\n### 🔌 Plugin-Based Integration & LLM Tool Orchestration (No SDKs Required)\nBotCompose ships with ready-to-use plugins for STT, LLM, and TTS, along with secure APIs to manage plugin secrets and configure voicebots as pipelines of modular components.\n\nDevelopers can expose custom tools directly to the LLM, and the built-in Tool Manager automatically forwards each tool call as an HTTP request to their server. This enables seamless backend integration, rapid customization, and full control without proprietary SDKs or tight coupling.\n\n:::info\nAll APIs require an Authorization Bearer token. The token to be used for your instance and tenant ID will be shared by Epicode Operations team.\n:::"
  },
  "servers": [
    {
      "url": "https://sandboxwa.epicode.in/api/",
      "description": "BotCompose API Server"
    }
  ],
  "paths": {
    "/api/add_secret?tenant_id={tenant_id}": {
      "post": {
        "tags": [
          "Add Secret"
        ],
        "summary": "Add Secret",
        "description": "Adds a secret token or service account JSON to the BotCompose instance.",
        "parameters": [
          {
            "name": "tenant_id",
            "in": "path",
            "required": true,
            "description": "Tenant identifier.",
            "schema": {
              "type": "string"
            },
            "example": "acme"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Add Secret"
              },
              "example": {
                "name": "deepgram",
                "type": "token",
                "content": "th1s15MySup3rS3cr3tT0k3n"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Secret added successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Add Secret"
                }
              }
            }
          }
        }
      }
    },

    "/api/get_secrets?tenant_id={tenant_id}": {
      "get": {
        "tags": [
          "Get Secret"
        ],
        "summary": "Get Secrets",
        "description": "Retrieves all secret tokens for a tenant.",
        "parameters": [
          {
            "name": "tenant_id",
            "in": "path",
            "required": true,
            "description": "Tenant identifier.",
            "schema": {
              "type": "string"
            },
            "example": "acme"
          }
        ],
        "responses": {
          "200": {
            "description": "Secrets retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Add Secret"
                  }
                }
              }
            }
          }
        }
      }
    },

    "/api/delete_secret?tenant_id={tenant_id}&secret_name={secret_name}": {
      "delete": {
        "tags": [
          "Delete Secret"
        ],
        "summary": "Delete Secret",
        "description": "Deletes a secret using the tenant ID and secret name.",
        "parameters": [
          {
            "name": "tenant_id",
            "in": "path",
            "required": true,
            "description": "Tenant identifier.",
            "schema": {
              "type": "string"
            },
            "example": "copter"
          },
          {
            "name": "secret_name",
            "in": "path",
            "required": true,
            "description": "Secret name to delete.",
            "schema": {
              "type": "string"
            },
            "example": "acme"
          }
        ],
        "responses": {
          "200": {
            "description": "Secret deleted successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Add Secret"
                }
              }
            }
          }
        }
      }
    },
    "/api/add_bot": {
      "post": {
        "tags": [
          "Add Bot"
        ],
        "summary": "Add Bot",
        "parameters": [
          {
            "name": "tenant_id",
            "in": "query",
            "required": true,
            "description": "Tenant identifier for the BotCompose instance.",
            "schema": {
              "type": "string",
              "example": "acme"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Add Bot"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Bot created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Add Bot"
                }
              }
            }
          }
        }
      }
    },
     "/api/get_bot": {
      "get": {
        "tags": [
          "Get Bot"
        ],
        "summary": "Get Bot",
        "description": "Retrieves a bot by its bot ID. Returns a JSON object adhering to the same schema as the Add Bot API.",
        "parameters": [
          {
            "name": "tenant_id",
            "in": "query",
            "required": true,
            "description": "Tenant identifier for the BotCompose instance.",
            "schema": {
              "type": "string",
              "example": "acme"
            }
          },
          {
            "name": "bot_id",
            "in": "query",
            "required": true,
            "description": "Unique identifier of the bot to retrieve.",
            "schema": {
              "type": "string",
              "example": "test_bot"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Bot retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Add Bot"
                }
              }
            }
          }
        }
      }
    },
    "/api/get_bot_list": {
      "get": {
        "tags": [
          "Get Bot List"
        ],
        "summary": "Get Bot List",
        "description": "Retrieves a list of bots for the specified tenant. Returns one or more JSON objects following the same schema as the Add Bot API.",
        "parameters": [
          {
            "name": "tenant_id",
            "in": "query",
            "required": true,
            "description": "Tenant identifier for the BotCompose instance.",
            "schema": {
              "type": "string",
              "example": "acme"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Bot list retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Add Bot"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/delete_bot": {
      "delete": {
        "tags": [
          "Delete Bot"
        ],
        "summary": "Delete Bot",
        "description": "Deletes a bot using its bot ID. Returns a JSON object adhering to the same schema as the Add Bot API.",
        "parameters": [
          {
            "name": "tenant_id",
            "in": "query",
            "required": true,
            "description": "Tenant identifier for the BotCompose instance.",
            "schema": {
              "type": "string",
              "example": "acme"
            }
          },
          {
            "name": "bot_id",
            "in": "query",
            "required": true,
            "description": "Unique identifier of the bot to delete.",
            "schema": {
              "type": "string",
              "example": "test_bot"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Bot deleted successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Add Bot"
                }
              }
            }
          }
        }
      }
    },
    "/api/tool_call_payload": {
      "post": {
        "tags": [
          "Tool Calling"
        ],
        "summary": "Tool Call Payload",
        "description": "Schema representing the payload sent by the default tool manager when forwarding external LLM tool calls.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ToolCallPayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool call accepted."
          }
        }
      }
    },
    "/api/populate_tts_cache": {
      "post": {
        "tags": [
          "Populate TTS Cache"
        ],
        "summary": "Populate TTS Cache",
        "description": "Pre-populates the TTS cache by generating audio for a list of sentences using the configured TTS plugin.",
        "parameters": [
          {
            "name": "tenant_id",
            "in": "query",
            "required": true,
            "description": "Tenant identifier for the BotCompose instance.",
            "schema": {
              "type": "string",
              "example": "acme"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PopulateTTSCacheRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "TTS cache populated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PopulateTTSCacheRequest"
                }
              }
            }
          }
        }
      }
    }
  },

  "components": {
    "schemas": {
      "Add Secret": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of the secret."
          },
          "type": {
            "type": "string",
            "enum": [
              "token",
              "service_account_json"
            ],
            "description": "Secret type."
          },
          "content": {
            "type": "string",
            "description": "Secret token or JSON content."
          }
        },
        "required": [
          "name",
          "type",
          "content"
        ],
        "additionalProperties": false
      },
      "Add Bot": {
        "type": "object",
        "description": "Schema for defining a bot with STT, LLM, TTS plugins.",
        "properties": {
          "bot_id": {
            "type": "string",
            "description": "Unique identifier for the bot."
          },
          "welcome_message": {
            "type": "object",
            "description": "Message to be played to the user when the call is answered.",
            "properties": {
              "sentence": {
                "type": "string"
              },
              "language": {
                "type": "string"
              },
              "model": {
                "type": "string"
              },
              "prompt": {
                "type": "string"
              }
            },
            "required": [
              "sentence"
            ]
          },
          "stt_config": {
            "type": "object",
            "description": "Configuration for Speech-to-Text plugin.",
            "properties": {
              "plugin_name": {
                "type": "string"
              },
              "secret_name": {
                "type": "string"
              },
              "plugin_data": {
                "type": "object",
                "description": "Additional STT plugin configuration."
              }
            },
            "required": [
              "plugin_name",
              "plugin_data"
            ],
            "additionalProperties": false
          },
          "llm_config": {
            "type": "object",
            "description": "Configuration for the LLM plugin.",
            "properties": {
              "plugin_name": {
                "type": "string"
              },
              "secret_name": {
                "type": "string"
              },
              "plugin_data": {
                "type": "object",
                "properties": {
                  "instructions": {
                    "type": "string"
                  }
                },
                "required": [
                  "instructions"
                ],
                "additionalProperties": true
              }
            },
            "required": [
              "plugin_name",
              "plugin_data"
            ],
            "additionalProperties": false
          },
          "llm_tool_list": {
            "type": "array",
            "description": "Optional list of tools exposed to the LLM.",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "description": {
                  "type": "string"
                },
                "parameters": {
                  "type": "object"
                }
              },
              "required": [
                "name",
                "description"
              ]
            }
          },
          "tool_manager": {
            "type": "object",
            "description": "Tool Manager plugin configuration.",
            "properties": {
              "plugin_name": {
                "type": "string"
              },
              "secret_name": {
                "type": "string"
              },
              "plugin_data": {
                "type": "object",
                "additionalProperties": true
              }
            },
            "required": [
              "plugin_name"
            ],
            "additionalProperties": false
          },
          "tts_config": {
            "type": "object",
            "description": "Configuration for Text-to-Speech plugin.",
            "properties": {
              "plugin_name": {
                "type": "string"
              },
              "secret_name": {
                "type": "string"
              },
              "plugin_data": {
                "type": "object",
                "properties": {
                  "model": {
                    "type": "string"
                  },
                  "voice": {
                    "type": "string"
                  },
                  "language": {
                    "type": "string"
                  }
                },
                "required": [
                  "voice"
                ],
                "additionalProperties": true
              }
            },
            "required": [
              "plugin_name",
              "plugin_data"
            ],
            "additionalProperties": false
          },
          "tts_cache_config": {
            "type": "object",
            "description": "Caches audio in CDB to reduce TTS costs.",
            "properties": {
              "sentence_list": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "sentence": {
                      "type": "string"
                    },
                    "language": {
                      "type": "string"
                    },
                    "model": {
                      "type": "string"
                    },
                    "prompt": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "sentence"
                  ]
                }
              },
              "cache_lookup_policy": {
                "type": "string",
                "enum": [
                  "disabled",
                  "sentence_match",
                  "always"
                ],
                "default": "sentence_match"
              },
              "sampling_rate_list": {
                "type": "array",
                "items": {
                  "type": "integer",
                  "enum": [
                    8000,
                    16000
                  ]
                },
                "uniqueItems": true,
                "minItems": 1,
                "maxItems": 2
              }
            },
            "required": [
              "sentence_list",
              "sampling_rate_list"
            ],
            "additionalProperties": false
          },
          "update_cache": {
            "type": "boolean"
          }
        },
        "required": [
          "bot_id"
        ],
        "dependentRequired": {
          "welcome_message": [
            "tts_config"
          ],
          "tts_cache_config": [
            "tts_config"
          ],
          "llm_config": [
            "stt_config"
          ],
          "llm_tool_list": [
            "llm_config",
            "tool_manager"
          ]
        },
        "additionalProperties": false
      },
      "ToolCallPayload": {
        "type": "object",
        "required": [
          "call_uuid",
          "function_name",
          "function_args"
        ],
        "properties": {
          "call_uuid": {
            "type": "string",
            "description": "Unique identifier for the call.",
            "minLength": 1
          },
          "function_name": {
            "type": "string",
            "description": "Name of the tool or function called by the LLM.",
            "minLength": 1
          },
          "function_args": {
            "type": "object",
            "description": "Arguments passed by the LLM to the function.",
            "additionalProperties": true
          }
        },
        "additionalProperties": false
      },
    "PopulateTTSCacheRequest": {
        "type": "object",
        "properties": {
          "tts_config": {
            "type": "object",
            "description": "Configuration for Text-to-Speech (TTS) plugin.",
            "properties": {
              "plugin_name": {
                "type": "string",
                "description": "Name of the TTS plugin to use."
              },
              "secret_name": {
                "type": "string",
                "description": "Name of stored secret."
              },
              "plugin_data": {
                "type": "object",
                "description": "TTS plugin configuration such as voice, model, or language.",
                "properties": {
                  "model": {
                    "type": "string"
                  },
                  "voice": {
                    "type": "string"
                  },
                  "language": {
                    "type": "string"
                  }
                },
                "required": [
                  "voice"
                ],
                "additionalProperties": true
              }
            },
            "required": [
              "plugin_name",
              "plugin_data"
            ],
            "additionalProperties": false
          },
          "sentence_list": {
            "type": "array",
            "description": "List of sentences for which TTS audio should be generated and cached.",
            "items": {
              "type": "object",
              "properties": {
                "sentence": {
                  "type": "string",
                  "description": "The sentence to be cached."
                },
                "language": {
                  "type": "string",
                  "description": "BCP-47 language code the sentence is in."
                },
                "prompt": {
                  "type": "string",
                  "description": "Optional prompt the TTS engine should use to synthesize the sentence."
                },
                "trim_silence": {
                  "type": "boolean",
                  "description": "Whether BotCompose should trim leading and trailing silence after TTS generation.",
                  "default": false
                }
              },
              "required": [
                "sentence"
              ],
              "additionalProperties": false
            }
          },
          "sampling_rate_list": {
            "type": "array",
            "description": "Allowed sampling rates are 8000 Hz and/or 16000 Hz.",
            "items": {
              "type": "integer",
              "enum": [
                8000,
                16000
              ],
              "description": "Sampling rate. Must be 8000 or 16000."
            },
            "uniqueItems": true,
            "minItems": 1,
            "maxItems": 2
          },
          "tts_cache_generation_concurrency": {
            "type": "integer",
            "minimum": 1,
            "default": 5,
            "description": "Number of parallel TTS cache generation tasks."
          }
        },
        "required": [
          "tts_config",
          "sentence_list",
          "sampling_rate_list"
        ],
        "additionalProperties": false
      },

      "PopulateTTSCacheResponse": {
        "$ref": "#/components/schemas/PopulateTTSCacheRequest"
      }
  }
},
  "tags": [
    {
      "name": "Add Secret",
      "description": "Operations related to adding a new secret token or service account JSON."
    },
    {
      "name": "Get Secret",
      "description": "Operations related to retrieving all stored secrets for a tenant."
    },
    {
      "name": "Delete Secret",
      "description": "Operations related to deleting an existing secret using its name."
    },
    {
      "name": "Add Bot",
      "description": "Creates and configures a new voice bot with STT, LLM, TTS, tool orchestration, and cache settings.\n\n## Available Plugins\n\nAs of **19-01-2025**, the following plugins are available.\n\n### STT Plugins\n- `deepgram`\n- `deepgram_streaming`\n- `sarvam`\n- `azure`\n- `google`\n\n### TTS Plugins\n- `elevenlabs`\n- `openai`\n- `google`\n- `azure`\n- `sarvam`\n- `Smallestai`\n- `Cartesia`\n\n### LLM Plugins\n- `openai_like`\n\nThe `openai_like` plugin can be used for LLM models from the providers below by setting the correct `base_url` in `plugin_data`.\n\n#### Supported Providers\n- OpenAI\n- Azure OpenAI / Azure AI Foundry\n- Groq\n- Fireworks.ai\n- Hugging Face Inference Router\n- Vercel AI Gateway"
    },
    {
      "name": "Tool Calling",
      "description": "Defines how LLM function/tool calls are handled inside BotCompose.\n\n## Function / Tool Calling\n\nDevelopers can pass a list of tools to the LLM using `llm_tool_list`. The schema is similar to the JSON schema typically passed to LLM SDKs or Responses APIs, but simplified:\n- The `type` field is excluded and always treated as `function`.\n- If a function expects no arguments, the `parameters` schema can be omitted.\n\nThe `tool_manager` determines how tool calls are handled.\n\nBotCompose ships with a default tool manager named `default_tool_manager`.\n\n### Built-in Supported Tools\n- `drop_call`\n- `transfer_call`\n- `update_stt_config`\n- `update_llm_config`\n- `update_tts_config`\n\nThe update tools can dynamically modify the `plugin_data` of STT, LLM, and TTS plugins during the current call.\nThis allows runtime updates such as changing STT/TTS language or switching plugin models based on conversation flow.\n\n### Additional Tool Manager Configuration\nThe default tool manager also supports the following `plugin_data` fields:\n- `tool_url`\n- `tool_bearer_token`\n- `play_message`\n\nIf configured, when the LLM invokes any tool other than the built-in tools above, BotCompose:\n1. Starts playing the configured `play_message`\n2. Makes an HTTP `POST` request to `tool_url` in parallel\n3. Sends the tool payload defined below"
    },
    {
      "name": "Populate TTS Cache",
      "description": "Operations related to pre-generating and caching TTS audio for frequently used sentences."
    },
    {
      "name": "Get Bot",
      "description": "Operations related to retrieving a bot by its bot ID."
    },
    {
      "name": "Get Bot List",
      "description": "Operations related to retrieving a list of all configured bots for a tenant."
    },
    {
      "name": "Delete Bot",
      "description": "Operations related to deleting an existing bot using its bot ID."
    }
  ]
}